<div id='error'>
	Here's some info on how this happened, in case you contact the developer: <br/><br/>
	<ul>
		<li> <b>Current Controller</b>: <%= @current_controller %></li>
		<li> <b>Current Action</b>: <%= @current_action %></li>
		<li> <b>Request Parameters</b>: <%= pp params %></li>
	</ul>
	<br/>
	Also, please specify the login details you provided (except the password) and provide the file you're been uploading, that is if you were uploading & importing anything. 
</div>