<div class="alert-message block-message error">
  <p><h5>You <b>MUST HAVE READ</b> the <%=link_to 'Getting Started', :controller => 'whatelse', :action => 'get_started' %> section <b>VERY CAREFULLY</b> and make sure you understand all the requirements on the file format & content before actually starting to upload. Doing so will make it easier for everyone ;-) .</h5></p>
</div>

<%= render 'form' %>

<%= link_to 'Back', uploads_path %>
